
@{
    ViewData["Title"] = "Thông tin SV";
}

<div class="alert alert-info">
    <h1>Thông tin SV</h1>
    <hr />
    <p>MSV : 2310900046</p>
    <p>Name : Nguyễn Văn Khải </p>
    <p>Class : K23CNT2</p>
    <p>Email : nguyenvankhai2262@gmail.com</p>
    <p>Phone : 0123456789</p>
</div>

